@import url(../../styles/variables.css);

.home-code{
    margin: 0 auto;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 15rem 0;
}

.skills h2{
    color: var(--lightBlue);
    font-family: var(--secondaryFont);
    font-weight: 300;
    font-size: 4rem;
}


.block{
    display: flex;
    max-width: 80rem;
    width: 100%;
}



@media (min-width: 990px) {

    .skills{
        display: flex;
        align-items: flex-start;
        margin: 20rem 0;
    }

    .flex-end{
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .home-code{
        margin: 3rem;
    }

    .skills h2{
        margin: 3rem;
    }


}